{% extends "base.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="container">
    <div class="row container">
        <div class="col-lg-12">
            <h1 class="mt-5 text-center fw-bold">Dashboard</h1>
        </div>
        <div class="col-lg-12 row">
            <h2 class="mb-3 mt-3">Metrics</h2><hr class="mb-4">
            <div class="col-lg-2 text-center mx-auto pt-4 pb-4 shadow-lg metric card">Total Sales: {{ total_sales|floatformat:2 }}</div>
            <div class="col-lg-2 text-center mx-auto pt-4 pb-4 shadow-lg metric card">Total Purchases: {{ total_purchases|floatformat:2 }}</div>
            <div class="col-lg-2 text-center mx-auto pt-4 pb-4 shadow-lg metric card">Total Invoices: {{ total_invoices }}</div>
            <div class="col-lg-2 text-center mx-auto pt-4 pb-4 shadow-lg metric card">Total Products: {{ total_products }}</div>
        </div>
        <div class="col-lg-12 row">
            <h2 class="mb-3 mt-5">Quick Links</h2><hr class="mb-4">
            <a href="{% url "sale_invoice_details" %}" class="quick_links col-lg-2 mx-auto btn pb-4 pt-4 card">Create Sale Invoice</a>
            <a href="{% url "purchase_invoice_details" %}" class="quick_links col-lg-2 mx-auto btn pb-4 pt-4 card">Create Purchase Invoice</a>
            <a href="{% url "all_products" %}" class="quick_links col-lg-2 mx-auto btn pb-4 pt-4 card">Add Product</a>
            <a href="{% url "category" %}" class="quick_links col-lg-2 mx-auto btn pb-4 pt-4 card">Add Category</a>
        
        </div>
        <div class="col-lg-12 row">
            <h2 class="mb-3 mt-5">Recent Transactions</h2><hr class="mb-4">
            <div class="col-lg-5 mx-auto shadow-lg card mb-5">
                <div class="card-header">Recent Sale Invoice</div>
                {% for sale in recent_sales %}
                <div class="card-body text-center"><h4><strong>Invoice no.</strong> {{ sale.invoice_number }} </h4><hr></div>
                {% endfor %}
            </div>
            <div class="col-lg-5 mx-auto shadow-lg card mb-5">
                <div class="card-header">Recent Purchase Invoice</div>
                {% for purchase in recent_purchases %}
                <div class="card-body text-center"><h4><strong>Invoice no.</strong> {{purchase.invoice_number}} </h4><hr></div>
                {% endfor %}
            </div>
        </div>
    
</div>

{% endblock main %}