{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="bg-dark text-white text-center py-3 mt-auto no-print">
    <div class="container">
      <p>&copy; 2025 <strong>Aithon Technologies</strong>. All rights reserved.</p>
    <p><strong>Aithon Invoice</strong> is a product of Aithon Technologies, built to simplify invoicing and business management.</p>
    <p>
      Email: <a href="mailto:info@aithon.com" class="text-primary text-decoration-none">info@aithon.com</a> |
      Phone: <a href="tel:+923062193513" class="text-primary text-decoration-none">+92 306 2193513</a>
    </p>
    <p class="mt-2 mb-0">Developed with ❤️ by <strong>Abubakr Faisal</strong></p>
    </div>
</footer>
