{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="bg-dark text-white text-center py-3 mt-auto no-print">
    <div class="container">
      <p>&copy; 2025 <strong>Aithon Technologies</strong>. All rights reserved.</p>
    <p><strong>Aithon Invoice</strong> is a product of Aithon Technologies, built to simplify invoicing and business management.</p>
    <p>
      Email: <a href="mailto:support@aithoninvoice.com" class="text-primary text-decoration-none footer-text">support@aithoninvoice.com</a> |
      Phone: <a href="tel:+923156187461" class="text-primary text-decoration-none footer-text">+92-315-6187461</a>
    </p>
    <p class="mt-2 mb-0">Developed with ❤️ by <strong>Abubakr Faisal</strong></p>
    </div>
</footer>
