{% extends "base.html" %}
{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/saved_purchase_inv.css' %}">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5"><h1>All Purchase Invoices</h1></div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ request.GET.search }}">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-5"><h5>Total Products: <b>{{ invoice_count }}</b></h5></div><hr>
            {% if messages %} {{ message.tags }}
                <div class="alert alert-primary" role="alert">
                {% for message in messages %} {{ message }} {% endfor %}
                </div>
                {% endif %}
            {% for data in invoice_data %}
            <div class="card col-lg-12 col-md-12 col-sm-12 col-12 mx-auto m-4">
                
                <div class="row card-body">
                    <h5 class="card-title col-lg-10 col-md-9 col-sm-7 col-7">Invoice No. <b class="text-primary">{{ data.invoice_number }}</b></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary col-lg-2 col-md-3 col-sm-5 col-5 mt-1">Date: {{ data.date }}</h6><hr>
                    <h6 class="card-subtitle"><b class="text-success">Seller Details</b></h6>
                    <p class="card-text col-lg-4 col-md-4 col-sm-4 col-4"><b>Name:</b> {{data.supplier_name}}</p>
                    <p class="card-text col-lg-4 col-md-4 col-sm-4 col-4"><b>NTN/CNIC:</b> {{data.supplier_ntn}}</p>
                    <p class="card-text col-lg-4 col-md-4 col-sm-4 col-4"><b>Province:</b> {{data.province}}</p>
                    <p class="card-text col-lg-12 col-md-4 col-sm-4 col-4"><b>Address:</b> {{data.supplier_address}}</p>
                    <h6 class="card-subtitle"><b class="text-success">Item Details</b></h6>

                    <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data.items %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ row.code }}</td>
                        <td>{{ row.product }}</td>
                        <td>{{ row.unit_of_measurement }}</td>
                        <td>{{ row.quantity }}</td>
                        <td>{{ row.unit_price }}</td>
                        <td>{{ row.total }}</td>
                        </tr>
                        {% endfor %}          
                    </tbody>   
                    </table>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                        <th class="text-center"><b>Tax Rate:</b> {{ data.items.0.tax_rate }}%</th>
                        <td class="text-center"><b>Withholding Tax:</b> {{ data.total_withholding_tax }}</td>
                        <td class="text-center"><b>Extra Tax:</b> {{ data.total_extra_tax }}</td>
                        <td class="text-center"><b>Furthur Tax:</b> {{total_further_tax}}</td>
                        <td class="text-center"><b>Fed Paid:</b> {{ data.total_fed_paid }}</td>
                        <td class="text-center"><b>Discount:</b> {{ data.total_discount }}</td>
                        </tr>         
                        <tr>
                        <td colspan="2" class="text-center"><b>Subtotal:</b> {{ data.subtotal }}</td>
                        <td colspan="2" class="text-center"><b>Tax Total:</b> {{ data.tax_total }}</td>
                        <td colspan="2" class="text-center"><b>Grand Total:</b> {{ data.grand_total }}</td>
                        </tr>         
                    </tbody>   
                    </table>
            </div>
                        <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-5 m-2 mx-auto" ><a href="{% url 'purchase_invoice_view' data.id %}" class="btn btn-secondary card-link " style="width: 100%;">View</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-5 m-2 mx-auto"><a href="{% url 'purchase_invoice_pdf' data.id %}" class="btn btn-success card-link " style="width: 100%;">Save as PDF</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-5 m-2 mx-auto" >
                        <form action="{% url 'delete_purchase_invoice' data.id %}" method="POST" class="d-inline" >
                            {% csrf_token %}
                            <!-- Delete Button -->
<button 
  type="button" 
  class="btn btn-danger mx-auto card-link col-lg-3 col-md-3 col-sm-3 col-5 m-2" 
  data-bs-toggle="modal" 
  data-bs-target="#deleteInvoiceModal{{ data.id }}"
  style="width: 100%;">
  Delete
</button>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteInvoiceModal{{ data.id }}" tabindex="-1" aria-labelledby="deleteInvoiceModalLabel{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-4">
      <div class="modal-header bg-danger text-white rounded-top-4">
        <h5 class="modal-title" id="deleteInvoiceModalLabel{{ data.id }}">Confirm Deletion</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-3 fs-6">Are you sure you want to delete <strong>Invoice #{{ data.invoice_number }}</strong>?</p>
        <p class="text-muted small">This action cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'delete_purchase_invoice' data.id %}" class="btn btn-danger px-4">Delete</a>
      </div>
    </div>
  </div>
</div>

                        </form>
                        </div>

                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}