{% extends "base.html" %}
{% block main %}
    <div class="container form-container mt-5 mb-5 card shadow-lg">
        <div>
            <form method='POST' action="">
                {% csrf_token %}
                <div class="row container mb-5 mt-4">
                    <h1 class="mt-2 mb-3" >Purchase Invoice</h1>
                    <hr>
                    {% if messages %} {{ message.tags }}
                    <div class="alert alert-primary" role="alert">
                    {% for message in messages %} {{ message }} {% endfor %}
                    </div>
                    {% endif %}
                    <div class="mb-1 col-lg-6 col-md-6 col-sm-12">
                        <p><b>Invoice Number:</b> {{ invoice.invoice_number }}</p><hr>
                    </div>
                    <div class="mb-1 col-lg-6 col-md-6 col-sm-12">
                        <p><b>Date:</b> {{ invoice.date }}</p><hr>
                    </div>

                    <h5 class="mb-3 fw-bold">Seller Details</h5>
                    <hr>
                    <div class="mb-1 col-lg-4 col-md-4 col-sm-12">
                        <p><b>Name:</b> {{ invoice.supplier.name }} </p><hr>
                    </div>
                    <div class="mb-1 col-lg-4 col-md-4 col-sm-12">
                        <p><b>NTN/CNIC:</b> {{ invoice.supplier.ntn }}</p><hr>
                    </div>
                    <div class="mb-1 col-lg-4 col-md-4 col-sm-12">
                        <p><b>Province:</b> {{ invoice.supplier.province_name }}</p><hr>
                    </div>
                    <div class="mb-1 col-lg-12 col-md-12 col-sm-12">
                        <p><b>Address:</b> {{ invoice.supplier.address }}</p><hr>
                    </div>

                    <h4 class="mb-3 fw-bold">Products</h4>
                    <hr>
                    <div class="row">
                        <table class="table col-lg-12 col-md-12 col-sm-12 table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">HS Code</th>
                                <th scope="col">Product Description</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in item %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ i.product.code }}</td>
                                    <td>{{ i.product.name }}</td>
                                    <td>{{ i.product.unit_of_measurement }}</td>
                                    <td>{{ i.quantity }}</td>
                                    <td>{{ i.unit_price }}</td>
                                    <td>{{ i.total_price|floatformat:2  }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'update_purchase_inv_item' i.id %}" class="edit bg-success"><i class="bi bi-pencil-square"></i></a>
                                        <a href="{% url 'delete_purchase_inv_item' i.id %}" class="del bg-danger"><i class="bi bi-trash3"></i></a>
                                </td>
                                </tr>
                                {% endfor %}
                            
                            </tbody>
                            </table>
                        <table class="table col-lg-12 col-md-12 col-sm-12 table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-center"><b>Tax Rate:</b> {{ invoice.items.first.rate }}%</td>
                                    <td class="text-center"><b>Withholding Tax:</b> {{ invoice.total_withholding_tax|floatformat:2  }}</td>
                                    <td class="text-center"><b>Extra Tax:</b> {{ invoice.total_extra_tax|floatformat:2  }}</td>
                                    <td class="text-center"><b>further Tax:</b> {{ invoice.total_further_tax|floatformat:2  }}</td>
                                    <td class="text-center"><b>fed Paid:</b> {{ invoice.total_fed_paid|floatformat:2  }}</td>
                                    <td class="text-center"><b>Discount:</b> {{ invoice.total_discount|floatformat:2  }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><b>Subtotal:</b> {{ invoice.subtotal|floatformat:2  }}</td>
                                    <td colspan="2" class="text-center"><b>Total Tax:</b> {{ invoice.tax_total }}</td>
                                    <td colspan="2" class="text-center"><b>Grand Total:</b> {{ invoice.grand_total }}</td>
                                </tr>
                            </tbody>
                            </table>
                            
                    </div>

                    <div class="row">   
                            <hr>
                            <div class="mb-3 col-lg-4 col-md-6 mt-1 col-sm-12">
                                <label for="item" class="form-label">Item</label>
                                <select name="item" id="item" class="form-control">
                                    <option name="item" value="" selected>Select Item</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 col-lg-4 col-md-6 mt-1 col-sm-12">
                                <label for="item_unit_price" class="form-label">Unit Price</label>
                                <input type="number" class="form-control" name="item_unit_price" id="item_unit_price" value="{{ purchase_item.unit_price|default:0 }}">
                            </div>
                            <div class="mb-3 col-lg-4 col-md-6 mt-1 col-sm-12">
                                <label for="item_quantity" class="form-label">Quantity</label>
                                <input type="number" class="form-control" name="item_quantity" id="item_quantity" value="{{ purchase_item.item_quantity|default:1 }}">
                            </div>

                            <div class="col-lg-12 row">
                            <details>
                                <summary style="font-size: 15px;">More</summary>
                                <hr>
                                <div class="row">
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="rate" class="form-label">Tax Rate</label>
                                    <input type="text" class="form-control" name="rate" id="rate" value="{{ purchase_item.rate|default:18 }}">
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="withholdingTax" class="form-label">Withholding Tax</label>
                                    <input type="number" class="form-control" name="withholdingTax" id="withholdingTax" value="{{ purchase_item.withholdingTax|default:0 }}">
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="extraTax" class="form-label">Extra Tax</label>
                                    <input type="number" class="form-control" name="extraTax" id="extraTax" value="{{ purchase_item.extraTax|default:0 }}">
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="furtherTax" class="form-label">further Tax</label>
                                    <input type="number" class="form-control" name="furtherTax" id="furtherTax" value="{{ purchase_item.furtherTax|default:0 }}">
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="fedPaid" class="form-label">fed Paid</label>
                                    <input type="number" class="form-control" name="fedPaid" id="fedPaid" value="{{ purchase_item.fedPaid|default:0 }}">
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6 mt-1 col-sm-12">
                                    <label for="discount" class="form-label">Discount</label>
                                    <input type="number" class="form-control" name="discount" id="discount" value="{{ purchase_item.discount|default:0 }}">
                                </div>
                                </div>
                            </details>
                            </div>

                            
                            <div class="col-lg-3 mb-1 mt-4"><button type="submit" name="action" value="add_item" class="btn btn-primary btn-lg">Add Item</button></div>
                    </div>

                </div>
            </form>
            <form method="post" action="{% url 'delete_purchase_invoice' invoice.id %}">
                        {% csrf_token %}
                        <div class="row mb-5">
                        <a href="{% url "purchase_invoice_view" invoice.id %}" class="btn btn-secondary mx-auto card-link col-lg-3 col-md-3 col-sm-3 col-5">View</a>
                        <a href="{% url "purchase_invoice_pdf" invoice.id %}" class="btn btn-success mx-auto card-link col-lg-3 col-md-3 col-sm-3 col-5">Save as PDF</a>
                        <button type="submit" name="action" value="del_product_inv" class="btn btn-danger mx-auto card-link col-lg-3 col-md-3 col-sm-3 col-5">Delete</button>
                        </div>
        </div>
    </div>
{% endblock main %}